.menu {
}

.route {
}

.firstLevelList,
.secondLevelList {
  margin: 0;
  padding: 0;

  list-style: none;
}

.firstLevel {
  display: grid;
  align-items: center;

  margin-top: 20px;
  margin-bottom: 0;

  font-size: 18px;

  font-weight: 500;
  line-height: 25px;
  grid-template-columns: 24px 1fr;
  gap: 20px;
}

.firstLevelActive,
.firstLevel:hover {
  color: var(--primary);
}

.firstLevel:hover svg,
.firstLevelActive svg {
  fill: var(--primary);
}

.secondLevelList {
  margin-top: 15px;
  margin-left: 12px;
  padding-left: 32px;

  border-left: 1px solid #DFDFDF;
}

.secondLevel {
  margin-bottom: 10px;

  cursor: pointer;

  text-transform: uppercase;

  color: var(--gray-dark);

  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
}

.secondLevelBlock {
  display: none;

  margin: 0;
  padding: 0;

  list-style: none;
}

.secondLevelBlockOpened {
  display: block;
}

.secondLevelBlockOpened:last-child {
  margin-bottom: 20px;
}

.thirdLevel {
  margin-bottom: 10px;

  cursor: pointer;

  color: var(--gray-dark);

  font-size: 14px;
  font-weight: 500;
  line-height: 19px;
}

.thirdLevel:hover,
.thirdLevelActive {
  color: var(--primary);
}
