html,
body {
  margin: 0;
  padding: 0;

  color: var(--black);
  background-color: var(--main-bg);

  font-family: var(--font-family);
}

a {
  text-decoration: none;

  color: inherit;
}

* {
  box-sizing: border-box;
}

:root {
  --black: #3b434e;
  --white: white;
  --gray-light: #ebebeb;
  --gray-dark: #787d85;
  --primary: #7653fc;
  --primary-hover: #6344df;
  --red: #fc836d;
  --green: #1dc37e;
  --green-light: #c8f8e4;
  --main-bg: #f5f6f8;
  --font-family: 'Noto Sans', sans-serif;
}
